.DS_Store
*.exe
*.sublime-workspace
*.lib
*.o
*.pdb
*.zip
*.loaf
*.dll
*.quip
include/
lib/
bin/
pokemon/
draft.txt
points.txt
teams.txt
backup_draft.txt
backup_teams.txt
backup_points.txt
*.tabl
emscripten/
src/assets/pkmn_data/
bin-web/
